<div class="container-fluid">
    <br/>
    <img class="img_profil" src="http://localhost:8090/data/{{cetInfirmier.photo}}" alt="Photo de l'infirmier" />
    <div class="info">
        <div class="infirmier_name">{{cetInfirmier.prenom}} {{cetInfirmier.nom}}</div>
        <div class="infirmier_address"> Adresse: {{cetInfirmier.adresse.toString}}</div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Patient</th>
            <th>Désaffecter</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="patientsArray.length === 0">
            <td colspan="2">Pas de patients</td>
        </tr>
        <tr *ngFor="let patientId of cetInfirmier.patientsAffectes" >
            <td>{{patientsArray[patientId].prenom}} {{patientsArray[patientId].nom}}</td>
            <td><button type="button" (click)="desaffecterPatient(patientId)">Désaffecter</button></td>
        </tr>
        <tr>
            <td>
                <input list="patients" type="text" [(ngModel)]="idPatient" title="Choisissé le patient à affecter">
                <datalist id="patients">
                    <option *ngFor="let unPatient of patientsArrayToShow" value="{{unPatient.numeroSecuriteSociale}}">
                        {{unPatient.prenom}} {{unPatient.nom}}
                    </option>
                </datalist>
            </td>
            <td>
                <button type="button" (click)="affecterPatient()">Affecter</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="tile" class="fade-out"></div>