.img_profil{
    position: relative;
    display: inline-block;
    width: 150px;
    max-height: 220px;
    height: auto;
}
.info{
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.infirmier_name {
    display: block;
    font-size: 1.7em;
    font-weight: bold;
}
.infirmier_address {
    display: block;
}
table {
    text-align: center;
    margin: auto;
    border: 1px solid dimgrey ;
}
th{
     background-color: grey;
     padding: 8px;
}
td{
      padding: 8px;
}
tr:nth-child(even) {
    background-color: #cecece;
}
tr:nth-child(odd) {
    background-color: #fff;
}
tbody{
    width: 100%;
}
tr:last-child{
    border-top: 1px solid dimgrey;
}
button:hover{
    cursor: pointer;
}