<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <span *ngIf="!edit">{{cePatient.prenom}}</span>
                <input *ngIf="edit" type="text" title="Prénom"/>
                <span *ngIf="!edit">{{cePatient.nom}}</span>
                <input *ngIf="edit" type="text" title="Nom"/>
            </h2>
            <input type="button" value="Edit" (click)="edit = true">
            <input type="button" value="Save" (click)="edit = false">
            <p>Genre:
                <span *ngIf="!edit">{{cePatient.sexe}}</span>
                <select *ngIf="edit" title="Genre">
                    <option value="M">Homme</option>
                </select>
            </p>
            <p>Adresse:
                <span *ngIf="!edit">{{cePatient.adresse.toString}}</span>
                <input *ngIf="edit" title="Numéro"/>
                <input *ngIf="edit" title="Rue"/>
                <input *ngIf="edit" title="Etage (facultatif)"/>
                <input *ngIf="edit" title="Code Postal"/>
                <input *ngIf="edit" title="Ville"/>
            </p>
            <p>Date de naissance :
                <span *ngIf="!edit">{{cePatient.naissance}}</span>
                <input *ngIf="edit" title="Date de naissance: JJ-MM-AAAA"/>
            </p>
            <p>Numero de sécutité Social :
                <span *ngIf="!edit">{{cePatient.numeroSecuriteSociale}}</span>
                <input *ngIf="edit" title="Numéro de Sécurité Social"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 visites_div">
            <div class="row visites_title">Vos visites</div>
            <div class="row table_div">
                <div class="col-12">
                    <div class="row table_header">
                        <div class="col-4 ">Date</div>
                        <div class="col-8 ">Intervenant</div>
                    </div>
                </div>
                <div class="col-12  visite_desc" *ngFor="let uneVisite of cePatient.visites" >
                    <div class="row" (click)="uneVisite.show = !uneVisite.show">
                        <div class="col-12" >
                            <div class="row visite_row" [ngClass]="{'clicked':uneVisite.show}" >
                                <div class="col-4 ">{{uneVisite.date}}</div>
                                <div class="col-8 ">{{uneVisite.intervenant.prenom}} {{uneVisite.intervenant.nom}}</div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="uneVisite.show" >
                            <div class="row ">
                                <div class="col-12 acte" *ngFor="let unActe of uneVisite.actes" title="{{unActe.type.text}}">
                                    {{unActe.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>