<div class="container-fluid">
    page accueil html
    <div class="form-group col">
        <label for="barre_recherche">chercher une personne : </label>
        <input id="barre_recherche" class="form-control" type="text" list="list_movies" placeholder="ex: john" [(ngModel)]="inputRecherche" (change)="recherchePersonnes()">
        <datalist id="list_movies">
            <option ></option>
        </datalist>
    </div>
    <hr>
    <div class="table-wrapper my-boxes" >
        <table class="table my-table table-hover">
            <thead>
            <tr>
                <td>Status</td>
                <td>Prenom</td>
                <td>Nom</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="contenuTable.length==0"><td colspan="3">Personne dans la liste</td></tr>
            <tr *ngFor="let unePersonne of contenuTable" (click)="goTo(unePersonne)" >
                <td>{{unePersonne.status}}</td>
                <td>{{unePersonne.prenom}}</td>
                <td>{{unePersonne.nom}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>