<div class="row">
    <div class="col-sm-12 col-md-6">
        <div id="recherche-input" >
            <div class="" id="label_barre_recherche">Chercher une personne : </div>
            <input id="barre_recherche" class="" type="text" list="list_historique" placeholder=" ex: john" [(ngModel)]="inputRecherche" (change)="recherchePersonnes()">
            <datalist id="list_historique">
                <option ></option>
            </datalist>
        </div>
        <hr>
        <table id="my-table">
            <thead>
            <tr>
                <th (click)="trierPar('status')">Status</th>
                <th (click)="trierPar('prenom')">Prenom</th>
                <th (click)="trierPar('nom')">Nom</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="contenuTable.length==0"><td colspan="3">Personne dans la liste</td></tr>
            <tr *ngFor="let unePersonne of contenuTable" [routerLink]="unePersonne.route">
                <td>{{unePersonne.status}}</td>
                <td>{{unePersonne.prenom}}</td>
                <td>{{unePersonne.nom}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="ajouter-patient" class="col-sm-12 col-md-6">
        <br/>
        <!-- ICI TU AJOUTE LE FORMULAIRE -->
        Prénom: <input type="text" title="Prénom" [(ngModel)]="newPatientTemp.prenom"/>
        Nom: <input type="text" title="Nom" [(ngModel)]="newPatientTemp.nom"/>
        <p>Genre:
            <select title="Genre" [(ngModel)]="genreSelected" >
                <option *ngFor="let unGenre of myGenreEnum" value="{{unGenre.id}}">{{unGenre.value}}</option>
            </select>
        </p>
        <p>Adresse:
            <input title="Numéro" placeholder="5" [(ngModel)]="newPatientTemp.adresse.numero"/>
            <input title="Rue" placeholder="impasse des vignes" [(ngModel)]="newPatientTemp.adresse.rue"/>
            <input title="Etage (NC si pas d'étage)" placeholder="étage" [(ngModel)]="newPatientTemp.adresse.etage"/>
            <input title="Code Postal" placeholder="42740" [(ngModel)]="newPatientTemp.adresse.codePostal"/>
            <input title="Ville" placeholder="Saint Paul en Jarez" [(ngModel)]="newPatientTemp.adresse.ville"/>
        </p>
        <p>Date de naissance :
            <input title="Date de naissance: AAAA-MM-JJ" placeholder="1996-30-04" [(ngModel)]="newPatientTemp.naissance"/>
        </p>
        <p>Numero de sécutité Social :
            <input title="Numéro de Sécurité Social" pattern="/^[1-2][0-9]{2}[0-1][0-9][[2A-B]*][[[0-9]]*]{2}[0-9]{3}[0-9]{3}[0-9]{2}$/" placeholder="1960442477512542" [(ngModel)]="newPatientTemp.numeroSecuriteSociale" />
        </p>
        <input type="button" value="Save" (click)="createPatient()">
    </div>
</div>
<div id="tile" class="fade-out"></div>