#my-nav{
    background-color: #292929;
    color: whitesmoke;
    display: inline-block;
    position: sticky;
    width: 100%;
}
body{
    position: relative;
    background-color: whitesmoke;
}
#my-logo{
    position: relative;
    color: #eeeeee;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    margin: auto;
}
#my-logo :hover{
    cursor: pointer;
}
#my-footer{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
}
#tile{
    position: absolute;
    display: inline;
    right: 8%;
    top: 7%;
    background-color: cornflowerblue;
    border-radius: 20px;
    border: solid 1px black;
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px;
}
.tile-style-1{
    background-color: cornflowerblue !important;
}
.tile-style-2{
    background-color: burlywood !important;
}
.tile-style-3{
    background-color: crimson !important;
}
.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 1s 2s ease-in-out;
}
